node-red-flows/mqtt_light_delay_light_sensor_brightness.json
[{"id":"ba143b0f.79c068","type":"tab","label":"Flow 1"},{"id":"8c2d847c.7167b8","type":"mqtt out","z":"ba143b0f.79c068","name":"Kitchen Lamp","topic":"milight/0x1/rgbw/1","qos":"","retain":"","broker":"957c027d.48a67","x":1295,"y":150,"wires":[]},{"id":"d9f3ea70.33129","type":"inject","z":"ba143b0f.79c068","name":"Lamp On","topic":"","payload":"{\"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1005,"y":150,"wires":[["8c2d847c.7167b8","b94435ce.54935"]]},{"id":"a335ae1a.bf1578","type":"inject","z":"ba143b0f.79c068","name":"Lamp Off","topic":"","payload":"{\"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1006,"y":210,"wires":[["8c2d847c.7167b8","b94435ce.54935"]]},{"id":"b94435ce.54935","type":"debug","z":"ba143b0f.79c068","name":"","active":false,"console":"false","complete":"false","x":1285,"y":210,"wires":[]},{"id":"f869373a.e4ee98","type":"mqtt in","z":"ba143b0f.79c068","name":"Sensor Clock Light Sensor","topic":"sensor_clock/light_level","qos":"2","broker":"957c027d.48a67","x":150,"y":120,"wires":[["421b35f9.43771c"]]},{"id":"4ec3ea5e.f754cc","type":"debug","z":"ba143b0f.79c068","name":"","active":true,"console":"false","complete":"false","x":1278,"y":360,"wires":[]},{"id":"421b35f9.43771c","type":"json","z":"ba143b0f.79c068","name":"","pretty":false,"x":350,"y":120,"wires":[["c0cf491a.947b98"]]},{"id":"ca4a6edb.46c688","type":"mqtt in","z":"ba143b0f.79c068","name":"Sensor Clock Motion Sensor","topic":"sensor_clock/motion_sensor","qos":"2","broker":"957c027d.48a67","x":164,"y":357,"wires":[["4c5853c5.b46cb4"]]},{"id":"4c5853c5.b46cb4","type":"json","z":"ba143b0f.79c068","name":"","pretty":false,"x":390,"y":360,"wires":[["81bdf7ed.5d488"]]},{"id":"81bdf7ed.5d488","type":"switch","z":"ba143b0f.79c068","name":"Movement detected?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":580,"y":360,"wires":[["5e001c1a.bd7fbc"],["e7d387c0.1c2c98","99188482.32cb88"]]},{"id":"44c7a9a7.d15628","type":"change","z":"ba143b0f.79c068","name":"Room Lamp On State","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_brightness","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":407,"wires":[["8c2d847c.7167b8","4ec3ea5e.f754cc"]]},{"id":"5e001c1a.bd7fbc","type":"trigger","z":"ba143b0f.79c068","op1":"","op2":"{\"state\":\"off\"}","op1type":"nul","op2type":"str","duration":"8","extend":false,"units":"s","reset":"1","name":"Lamp Off Delay","x":1016,"y":311,"wires":[["8c2d847c.7167b8","4ec3ea5e.f754cc"]]},{"id":"e7d387c0.1c2c98","type":"change","z":"ba143b0f.79c068","name":"Reset Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":818,"y":289,"wires":[["5e001c1a.bd7fbc"]]},{"id":"c0cf491a.947b98","type":"switch","z":"ba143b0f.79c068","name":"Light Threshold Selector","property":"payload.level","propertyType":"msg","rules":[{"t":"lt","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":570.5000152587891,"y":125,"wires":[["2f712661.363b1a"],["9c7a70af.3ddb38"]]},{"id":"2f712661.363b1a","type":"change","z":"ba143b0f.79c068","name":"Enable Light","rules":[{"t":"set","p":"light_enabled","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":805.5000152587891,"y":119.33332824707031,"wires":[[]]},{"id":"9c7a70af.3ddb38","type":"change","z":"ba143b0f.79c068","name":"Disable Light","rules":[{"t":"set","p":"light_enabled","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":806.5000152587891,"y":195.3333282470703,"wires":[[]]},{"id":"99188482.32cb88","type":"switch","z":"ba143b0f.79c068","name":"Light Enabled?","property":"light_enabled","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":827.5000152587891,"y":407.00001525878906,"wires":[["44c7a9a7.d15628"]]},{"id":"502df60b.7c7fe","type":"inject","z":"ba143b0f.79c068","name":"Normal Brightness at 7:00","topic":"","payload":"{\"brightness\":\"255\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"00 7 * * *","once":false,"x":160,"y":460,"wires":[["5b7caa67.232444"]]},{"id":"d60b48ea.e6f7e8","type":"inject","z":"ba143b0f.79c068","name":"Reduce Brightness at 22:00","topic":"","payload":"{\"brightness\":\"10\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"00 22 * * *","once":false,"x":160,"y":540,"wires":[["5b7caa67.232444"]]},{"id":"5b7caa67.232444","type":"change","z":"ba143b0f.79c068","name":"Light Brightness Adjustment","rules":[{"t":"set","p":"on_brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":457.50001525878906,"y":568.3333282470703,"wires":[[]]},{"id":"236bb5d8.37b89a","type":"inject","z":"ba143b0f.79c068","name":"Initial Brightness","topic":"","payload":"{\"brightness\":\"255\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":131,"y":621,"wires":[["5b7caa67.232444","6eb35fb7.3603a"]]},{"id":"6eb35fb7.3603a","type":"debug","z":"ba143b0f.79c068","name":"","active":true,"console":"false","complete":"false","x":378.50001525878906,"y":682.6666412353516,"wires":[]},{"id":"957c027d.48a67","type":"mqtt-broker","z":"","broker":"192.168.31.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]