node-red-flows/mqtt_light_delay.json
[{"id":"ba143b0f.79c068","type":"tab","label":"Flow 1"},{"id":"8c2d847c.7167b8","type":"mqtt out","z":"ba143b0f.79c068","name":"Room Lamp","topic":"milight/0x2/rgbw/1","qos":"","retain":"","broker":"957c027d.48a67","x":1158,"y":120,"wires":[]},{"id":"d9f3ea70.33129","type":"inject","z":"ba143b0f.79c068","name":"Room Lamp On","topic":"","payload":"{\"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":848,"y":120,"wires":[["8c2d847c.7167b8","b94435ce.54935"]]},{"id":"a335ae1a.bf1578","type":"inject","z":"ba143b0f.79c068","name":"Room Lamp Off","topic":"","payload":"{\"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":848,"y":180,"wires":[["8c2d847c.7167b8","b94435ce.54935"]]},{"id":"b94435ce.54935","type":"debug","z":"ba143b0f.79c068","name":"","active":false,"console":"false","complete":"false","x":1158,"y":180,"wires":[]},{"id":"f869373a.e4ee98","type":"mqtt in","z":"ba143b0f.79c068","name":"Sensor Clock Light Sensor","topic":"sensor_clock/light_level","qos":"2","broker":"957c027d.48a67","x":130,"y":280,"wires":[["421b35f9.43771c"]]},{"id":"4ec3ea5e.f754cc","type":"debug","z":"ba143b0f.79c068","name":"","active":true,"console":"false","complete":"false","x":1150,"y":360,"wires":[]},{"id":"421b35f9.43771c","type":"json","z":"ba143b0f.79c068","name":"","pretty":false,"x":370,"y":280,"wires":[[]]},{"id":"ca4a6edb.46c688","type":"mqtt in","z":"ba143b0f.79c068","name":"Sensor Clock Motion Sensor","topic":"sensor_clock/motion_sensor","qos":"2","broker":"957c027d.48a67","x":144,"y":357,"wires":[["4c5853c5.b46cb4"]]},{"id":"4c5853c5.b46cb4","type":"json","z":"ba143b0f.79c068","name":"","pretty":false,"x":370,"y":360,"wires":[["81bdf7ed.5d488"]]},{"id":"81bdf7ed.5d488","type":"switch","z":"ba143b0f.79c068","name":"Movement detected?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":560,"y":360,"wires":[["5e001c1a.bd7fbc"],["44c7a9a7.d15628","e7d387c0.1c2c98"]]},{"id":"44c7a9a7.d15628","type":"change","z":"ba143b0f.79c068","name":"Room Lamp On State","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"on\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":360,"wires":[["8c2d847c.7167b8","4ec3ea5e.f754cc"]]},{"id":"5e001c1a.bd7fbc","type":"trigger","z":"ba143b0f.79c068","op1":"","op2":"{\"state\":\"off\"}","op1type":"nul","op2type":"str","duration":"8","extend":false,"units":"s","reset":"1","name":"Lamp Off Delay","x":940,"y":300,"wires":[["8c2d847c.7167b8","4ec3ea5e.f754cc"]]},{"id":"e7d387c0.1c2c98","type":"change","z":"ba143b0f.79c068","name":"Reset timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["5e001c1a.bd7fbc"]]},{"id":"957c027d.48a67","type":"mqtt-broker","z":"","broker":"192.168.31.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]